/* Home Page Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif sans-serif;
}

header {
  display: flex;
  color: white;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    -20deg,
    // blue,
    darkslateblue,
    blue,
    darkslateblue
  );

  #logo-side a {
    font-size: 24px;
    color: white;
    font-size: 400;
    text-decoration: none;
  }

  #js-nav-bar {
    display: none;
    .show-modal {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  #menu-bar p {
    display: inline-block;
    padding: 4px 10px;
  }

  #menu-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in;
  }

  #menu-bar a:hover {
    // color: antiquewhite;
    color: moccasin;
  }
}

#menu-list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  // color: darkslateblue;
  opacity: 0.9;
  background-image: linear-gradient(
    45deg,
    // blue,
    darkslateblue,
    blue,
    darkslateblue
  );
  z-index: 5;
  padding-top: 150px;

  p.menu-items {
    width: 230px;
    margin: auto;
    text-align: center;
    padding: 15px;

    a {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

button.menu-list-exit {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.head-tag {
  color: slateblue;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
  padding: 30px;
}

.head-tag:nth-of-type(3) {
  margin-top: 30px;
}

#our-authors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;

  .each-author div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
  }

  .each-author img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    transition: all 0.4s ease-in-out;
  }

  .each-author img:hover {
    opacity: 0.95;
    transform: scale(1.1);
    // width: 170px;
    // height: 170px;
    cursor: pointer;
  }

  .each-author a {
    color: black;
    text-decoration: none;

    transition: color 0.3s ease-in-out;
  }

  .each-author a:hover {
    color: slateblue;
  }

  .each-author p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }

  .each-author p:hover {
    color: slateblue;
    cursor: pointer;
  }
}

p.pph {
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;

  a {
    color: black;
  }
  img {
    width: 30px;
    height: 18px;
    padding: 5px;
  }
}

p.pph:nth-of-type(2) {
  margin-bottom: 30px;
}

#books {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "roboto", sans-serif;

  .book {
    padding: 20px;
    width: 25%;
    text-align: center;
    text-transform: capitalize;

    .book-title {
      font-size: 18px;
      color: #333;
      padding: 5px;
    }

    .book-synopsis {
      font-size: 14px;
      color: #777;
      padding: 5px;
      letter-spacing: 0.5;
      line-height: 1.3;
    }
  }

  .book img {
    width: 100%;
    height: 300px;
  }
}

#FAQs {
  width: 90%;
  margin: auto;
  background-color: #f7f7f7;
  border-top: 5px solid slateblue;
  border-bottom: 5px solid slateblue;

  details {
    padding: 10px;

    summary {
      font-size: 20px;
      font-weight: bold;
      color: #333;
      padding: 10px;
      text-transform: capitalize;
    }

    summary:hover {
      cursor: pointer;
    }

    .FGAs {
      padding: 5px;
      color: #555;

      font-style: oblique;
      width: 80%;
      margin: auto;
      font-size: 16px;
    }
  }
}

#best-seller {
  #book-cart-details {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: "roboto", sans-serif;

    .book-cover {
      img {
        width: 100%;
      }
    }
  }

  .cart-details {
    width: 47%;
    .book-synopsis {
      font-size: 24px;
      width: 100%;
      margin: auto;
      color: #333;
      letter-spacing: 0.4;
      line-height: 1.5;
      font-weight: 500;

      .voc-synopsis {
        padding: 3px;
        font-weight: 600;
        padding: 2px;
        color: #000;
      }
    }

    button {
      padding: 7px;
      background-color: slateblue;
      width: 200px;
      margin: 15px auto;
      border: 2px solid slateblue;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      a {
        text-decoration: none;
        font-size: 18px;
        color: white;
      }
    }

    button:hover {
      background-color: slateblue;
      opacity: 0.9;
    }
  }
}

footer {
  background-image: linear-gradient(360deg, darkslateblue, blue, darkslateblue);
  padding: 20px;
  color: white;
  text-align: center;

  #main-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    #TSC-details-part {
      h3 {
        color: black;
        padding: 10px;
      }
      .contact-info {
        color: white;
        padding: 5px;
        font-size: 16px;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        .text {
          margin-top: 10px;
          padding-left: 10px;
        }

        img {
          width: 30px;
          height: 30px;
          padding-top: 10px;
        }

        a {
          color: white;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    #hyperlinks-footer-part {
      h3 {
        color: black;
        padding: 10px;
      }
      li {
        list-style-type: none;
        padding: 6px;

        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
          // font-family: "Rubiks", sans-serif;
          // transition:  0.2s ease;
        }

        a:hover {
          text-decoration: underline;
          color: #f7f7f7;
        }
      }
    }
  }

  #about-tsc {
    h3 {
      color: black;
      padding: 10px;
    }

    .text {
      text-align: left;
      padding: 10px;
      line-height: 1.4;
    }
  }
}

#copyright-footer {
  background-color: darkslateblue;
  padding: 20px 40px;
  //text-align: center;
  color: white;
  border-top: 2px solid slateblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .scm {
    float: right;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

/* About Us Page Styles */

p.aboutUs-details {
  letter-spacing: 1.1;
  line-height: 1.7;
  font-size: 20px;
  color: #333;
  font-weight: 300;
  padding: 0 40px 20px 40px;
  font-family: "Times New Roman", Times, serif;

  span.aup-author-names {
    font-size: 24px;
    color: #000;
    font-weight: 540;
  }

  span.aup-title {
    font-size: 23px;
    color: #000;
    font-weight: 540;
    text-transform: uppercase;
  }
}

/* Our Retail Outlets */

table {
  border-collapse: collapse;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;

  tr {
    th {
      padding: 20px;
      font-size: 24px;
    }
    td {
      padding: 20px;
      font-size: 20px;
    }
  }
}

/* TACP STYLES */

#TACP {
  .submission-g-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .book-genre {
      padding: 0 20px;
      align-content: flex-start;
      width: 40%;

      .head-tag {
        padding-bottom: 10;
      }

      .tac-list {
        li {
          font-size: 20px;
          letter-spacing: 0.5;
          line-height: 1.5;
          text-transform: capitalize;
        }
      }
    }
    .genre-details {
      width: 50%;
      .head-tag {
        padding-bottom: 10;
      }

      .details {
        .tac-list {
          li {
            font-size: 20px;
            letter-spacing: 0.5;
            line-height: 1.5;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

/* Connect with us page styles */

#cwu {
  marquee {
    padding: 10px;
    background-image: linear-gradient(45deg, #555, #000, #555);
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0.9;
  }

  form {
    width: 390px;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    text-align: center;

    input.txt {
      width: 300px;
      padding: 10px;
      margin: 5px;
      outline: none;
      border: 0;
      border-bottom: 1px solid #333;
      border: 2px solid transparent;
    }

    input.txt:focus {
      border: 2px solid slateblue;
      background-color: #f7f7f7;
    }

    select {
      padding: 5px;
      background-color: slateblue;
      color: white;
      margin: 10px 0;
      font-size: 16px;
      text-transform: capitalize;
      font-family: "Times New Roman", Times, serif;

      option {
        outline: none;
        border: 0;
      }
    }

    p.taca {
      font-size: 18px;
      margin: 5px 0;
      text-transform: capitalize;

      a {
        color: darkslateblue;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    #submit {
      padding: 7px;
      background-color: white;
      border: 1px solid slateblue;
      color: darkslateblue;
      font-size: 16px;
      font-family: "Times New Roman", Times, serif;
      margin-bottom: 10px;

      transition: all 0.3s ease-in;
    }

    #submit:hover {
      background-color: darkslateblue;
      color: white;
      cursor: pointer;
    }
  }

  .head-tag {
    font-size: 18px;
    color: black;
    a {
      color: slateblue;
    }

    a:hover {
      color: darkslateblue;
    }
  }
}

#bio {
  .bio-image {
    width: 80%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}

/* Responsive Styles for all Pages */

@media screen and (max-width: 600px) {
  header {
    #menu-bar {
      display: none;
    }

    #js-nav-bar {
      display: inline-block;
    }
  }

  #our-authors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 160px;

    .each-author img {
      border-radius: 100px;
      width: 200px;
      height: 200px;
    }

    .each-author p {
      text-align: center;
      padding: 10px;
    }
  }

  #FAQs {
    width: 100%;
  }

  #books {
    .book {
      padding: 20px;
      width: 80%;
      text-align: center;
      text-transform: capitalize;
    }

    .book img {
      width: 100%;
      height: 300px;
    }
  }

  #best-seller {
    #book-cart-details {
      display: flex;

      flex-direction: column;
    }

    .cart-details {
      width: 80%;

      .head-tag {
        width: 250px;
        margin: auto;
      }
    }
  }

  /* TACP Styles */
  #TACP {
    .submission-g-details {
      flex-direction: column;

      .book-genre,
      .genre-details {
        width: 90%;
        margin: auto;
      }
    }
  }

  /* Form Styles */
  form {
    width: 80%;
    input.txt {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  #best-seller {
    .cart-details {
      width: 80%;

      .head-tag {
        width: 250px;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  * {
    max-width: 250px;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  #books {
    .book {
      width: 40%;
    }
  }
}

@media screen and (min-width: 1028px) {
  #books {
    .book {
      width: 27%;
    }
  }
}
